html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background: rgb(80, 49, 30);
	margin:auto;
}

header{
	display: flex;
	height: 500px;
	width: 1368px;
	margin:auto;
	background-image: linear-gradient(to bottom, rgba(53,28,14, .15) 0%,rgba(53,28,14, .65)100%),url("images/30121-coffee-beans-2560x1600-photography-wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: 0px, -200px;
	margin-bottom: 0px;

}
@media(max-width:768px){
	header{
		display: block;
		height: 200px;
		width: 400px;
		margin:auto;
		background-image: linear-gradient(to bottom, rgba(53,28,14, .15) 0%,rgba(53,28,14, .65)100%),url("images/30121-coffee-beans-2560x1600-photography-wallpaper.jpg");
		background-repeat: no-repeat;
		background-position: 0px, -200px;
		margin-bottom: 0px;
	}
}
.navbar{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	color:rgba(212,139,80, .75);
	background: transparent;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 18px;
	height:200px;
	width: 1368px;
	
}
@media(max-width: 768px){
	.navbar{
		display: flex;
		justify-content: center;
		color:rgba(212,139,80, .75);
		background: transparent;
		font-family: Helvetica, Arial, Tahoma, sans-serif;
		font-size: 12px;
		height:100px;
		width: 400px;
		line-height: 24px;
	}
}

.blog{
	display: flex;
	justify-content: flex-start;
	align-content: space-between;
	height:200px;
	margin:0px;
	line-height: 64px;
	

}
@media(max-width: 768px){
	.blog{
		display: block;
		height:100px;
		margin:0px;
		line-height: 0px;
	}
}

.about{
	display: flex;
	justify-content: flex-end;
	align-content: space-between;
	font-weight: normal;
	height:200px;
	margin:0px;
	line-height: 64px;


}

@media(max-width: 768px){
	.about{
		display: flex;
		justify-content: flex-start;
		align-content: center;
		font-weight: normal;
		margin: auto;
		height:100px;
		margin:0px;
		line-height: 48px;

	}
}
 .about span{
	margin-right: 10px;
	
}
@media(max-width: 768px){
	.about span, .blog span{
		margin-left: 0px;
	}
}


.blog span{
	margin-left: 10px;


}

@media(max-width: 768px){
	.blog span{
		display: none;
	}
}
.navbar h1, .navbar h6{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: transparent;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	width: 100%;
	margin:0px;
}

.newbar h6{
	color:rgba(212,139,80, .75);
}

.navbar h1{
	color: white;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 64px;

}

@media(max-width: 768px){
	.navbar h1{
		font-size: 24px;
	}
}
.fa-search{
	padding: 24px 100px 0px 0px;


}
.fa-coffee{
	font-size: 40px;
	padding: 0px 0px 0px 100px;
	
}

main{
	display: flex;
	justify-content: space-around;
	height: 1000px;
	width: 1368px;
	margin:auto;
	background: white;
	
}

@media(max-width: 768px){
	main{
		display: flex;
		justify-content: space-around;
		height: 900px;
		width: 400px;
		margin:auto;
		background: white;
		}
}

.headline{
	display: inline-block;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 64px;
	color:rgba(212,139,80, .99);
	margin:20px 0px 0px 0px;
}

@media(max-width: 768px){
	.headline{
		font-size: 24px;
		text-align: center;
	}
}

@media(max-width: 768px){
	.datetime img, .datetime h4, .javasc, section p, .buttons img, aside, li{
		float: none;
		width: auto;
	}
}
.datetime img{
	float: left;
	clear: left;
	margin-bottom: 35px;
}

h4{
	color:rgba(212,139,80, .75);
	font-family: Helvetica, Arial, Tahoma, sans-serif;
}

.datetime h4{
	float: left;
	margin-top: 20px;
	margin-right: 10px;
	
}

.javasc{
	float: left;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	color:rgba(104, 116,122, .59);
	margin-top: 20px;
}

section{
	display: inline-block;
	margin: 0 1.5%;
	width: 55%;
}

@media(max-width: 768px){
	section{
		height:800px;
		width: auto;
	}
}

section p{
	float: left;
	margin-bottom: 35px;

}

@media(max-width: 768px){
	section p{
		margin-bottom:15px;
	}
}

.buttons span{
	display: inline-block;
	clear: left;

}

@media(max-width: 768px){
	.buttons span{
		margin: auto;
		text-align: center;
	}
}

.buttons img{
	float: left;
	width: 150px;
	height: 40px;
	margin-right: 20px;
	margin-top: 35px;

}

@media(max-width: 768px){
	.buttons img{
		width: 100px;
		height: 25px;
		margin-top: 5px;
		margin-right: 5px;
	}
}

aside{
	float: right;
	clear: right;
	margin: 0 1.5%;
	width: 26%;
}

@media(max-width: 768px){
	aside{
		display: none;
	}
}


.starbucks{
	display: inline-block;
	height: 300px;
	width: 300px;
	background-image: linear-gradient(to bottom, rgba(53,28,14, .65) 0%,rgba(53,28,14, .65)100%),url("images/caribou2.jpg");
	background-repeat: no-repeat;
}

.mugs{
	display: inline-block;
	width: 300px;
	margin:auto;
	text-align: center;
}

.mugs h4{
	display: block;
	margin:auto;
	text-align: center;
	width: 300px;
	margin-bottom: 10px;
	
}

.socialtext{
	display: inline-block;
	list-style: none;
	width:300px;
	padding-left: 60px;
	
}
ul{
	padding-left: 0px;
}

li{
	float: left;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	color:rgba(104, 116,122, .59);
	text-align: justify;
	margin:auto;
	margin:0px 15px 0px 0px;

}

@media(max-width: 768px){
	.mugs, .mugs h4, ul, li, .socialtext{
		display: none;
	}
}
.interruptus{
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 40px;
	border-left: 1px solid rgba(212, 139, 106, .75);
	padding-left: 15px;
	color: rgba(212,139,80, .75);
}

p{
	display: inline-block;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 16px;
	color:rgba(104, 116,122, .99);
	margin: 0px;
}

h3{
	text-align: left;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color:rgba(212,139,80, .99);
}

footer{
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	width: 1368px;
	margin:auto;
	background: black;
}

@media(max-width: 768px){
	footer{
		display: block;
		float: none;
		height: 200px;
		width: 400px;
		align-content: center;
		margin:auto;
		background:  white;
	}
}
.pophead{
	display: block;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	text-align: center;
	font-size: 64px;
	line-height: 100px;
	color:rgba(212,139,80, .99);
	font-weight: normal;
	height:100px;
	width: 1368px;
	margin:auto;
	border-top: 1px solid rgba(212, 139, 106, .75);
	background-color: white;

}

@media(max-width: 768px){
	.pophead{
		font-size: 24px;
		width: 400px;
		height: 50px;
		line-height: 50px;
}
}

.photos{
	display:flex;
	height: 300px;
	width:100%;
	background: white;

}

@media(max-width: 768px){
	.photos{
		display: block;
		float:none;
		width: auto;
		height: 1300px;
	}
}

.pic{
	height: 300px;
	background-repeat: no-repeat;
	text-align: left;
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 26px;
	color: white;
	overflow: auto;
	width: 25%;
	padding-left: 15px;

}

@media(max-width: 768px){
	.pic{
		display: block;
		float: none;
		background-color: white;
		font-size: 18px;
		margin: auto;
		margin-bottom: 25px;
		width: 350px;
		padding: 0px;
	}
}
.pic:first-child{
	background-image: linear-gradient(to bottom, rgba(53,28,14, .65) 0%,rgba(53,28,14, .65)100%),url("images/beans.jpg");
	padding-top: 250px;
	color:rgba(212,139,80, .75);
}

.pic:nth-child(2){
	background-image: url("images/cup.jpg");
	padding-top: 250px;

}
.pic:nth-child(3){
	background-image: linear-gradient(to bottom, rgba(53,28,14, .65) 0%,rgba(53,28,14, .65)100%),url("images/coffeetrees.jpg");
	padding-top: 220px;
	color:rgba(212,139,80, .75);
}

.pic:nth-child(4){
	background-image: linear-gradient(to bottom, rgba(53,28,14, .85) 0%,rgba(53,28,14, .85)100%),url("images/cocoa.jpeg");
	padding-top: 250px;
	color:rgba(212,139,80, .75);
}

.smallsocial{
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	background: rgb(53,28,14);
}

@media(max-width: 768px){
	.smallsocial{
		height:200px;
		display: block;
		float: none;

		margin: auto;
	}
}

.smallsocial h6{
	padding-right: 300px;
	color:rgba(212,139,80, .75);
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	margin: 0px;
	line-height: 100px;
}

@media(max-width: 768px){
	.smallsocial h6{
		padding-right:0px;
		text-align: center;
		line-height: 50px;
	}
}

.tiy{
	display: flex;
	height: 100px;
	width: 100px;
	overflow: none;
	background-image: linear-gradient(to bottom, rgba(53,28,14, .85) 0%,rgba(53,28,14, .85)100%),url("images/the-iron-yard-logo.png");
}

@media(max-width: 768px){
	.tiy{
		display: block;
		float: none;
		margin: auto;
		align-content: center;
	}
}

.navitem{
	font-family:  Helvetica, Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: rgba(212,139,80, .75);
	border-right: 1px solid rgba(212,139,80, .75);
	margin-right: 10px;
	padding-right: 10px;
	height: 16px;
	margin-top: 40px;
}

@media(max-width: 768px){
	.navitem{
		display: inline-block;
		float: none;
		text-align: center;
		align-content: center;
		width: auto;
		margin:0px;
		

	}
}

.navitem:last-child{
	border:none;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 900px;
    left: 500px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

