html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	background: rgb(80, 49, 30);
	margin:auto;
}

header{
	display: flex;
	height: 500px;
	width: 1368px;
	margin:auto;
	background-image: linear-gradient(to bottom, rgba(53,28,14, .15) 0%,rgba(53,28,14, .65)100%),url("images/30121-coffee-beans-2560x1600-photography-wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: 0px, -200px;
	margin-bottom: 0px;
}

.navbar{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	color:rgba(212,139,80, .75);
	background: transparent;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 18px;
	height:200px;
	width: 1368px;
	
}

.blog{
	display: flex;
	justify-content: flex-start;
	align-content: space-between;
	height:200px;
	margin:0px;
	line-height: 64px;
}

.about{
	display: flex;
	justify-content: flex-end;
	align-content: space-between;
	font-weight: bold;
	height:200px;
	margin:0px;
	line-height: 64px;
}
 .about span{
	margin-right: 10px;
}

.blog span{
	margin-left: 10px;
}
.navbar h1, .navbar h6{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: transparent;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	width: 100%;
	margin:0px;
}

.newbar h6{
	color:rgba(212,139,80, .75);
}

.navbar h1{
	color: white;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 64px;

}

.fa-search{
	padding: 24px 100px 0px 0px;

}

.fa-coffee{
	padding: 0px 0px 0px 100px;
	
}

main{
	display: flex;
	justify-content: space-around;
	height: 1000px;
	width: 1368px;
	margin:auto;
	border:3px solid white;
	background: white;
	
}

.headline{
	display: inline-block;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 64px;
	color:rgba(212,139,80, .99);
	margin:20px 0px 0px 0px;
}
.datetime img{
	float: left;
	clear: left;
	margin-bottom: 35px;
}

h4{
	color:rgba(212,139,80, .75);
	font-family: Helvetica, Arial, Tahoma, sans-serif;
}

.datetime h4{
	float: left;
	margin-top: 20px;
	margin-right: 10px;
	
}

.javasc{
	float: left;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	color:rgba(104, 116,122, .59);
	margin-top: 20px;
}

section{
	display: inline-block;
	margin: 0 1.5%;
	width: 55%;
}

section p{
	float: left;
	margin-bottom: 35px;

}

.buttons span{
	display: inline-block;
	clear: left;

}

.buttons img{
	float: left;
	width: 150px;
	height: 40px;
	margin-right: 20px;
	margin-top: 35px;

}

aside{
	float: right;
	clear: right;
	margin: 0 1.5%;
	width: 26%;
}

.starbucks{
	display: inline-block;
	height: 300px;
	width: 300px;
	background-image: linear-gradient(to bottom, rgba(53,28,14, .65) 0%,rgba(53,28,14, .65)100%),url("images/caribou2.jpg");
	background-repeat: no-repeat;
}

.mugs{
	display: inline-block;
	width: 300px;
	margin:auto;
	text-align: center;
}

.mugs h4{
	display: block;
	margin:auto;
	text-align: center;
	width: 300px;
	margin-bottom: 10px;
	
}

.socialtext{
	display: inline-block;
	list-style: none;
	width:300px;
	padding-left: 60px;
	
	
}
ul{
	padding-left: 0px;
}

li{
	float: left;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	color:rgba(104, 116,122, .59);
	text-align: justify;
	margin:auto;
	margin:0px 15px 0px 0px;

}
.interruptus{
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 40px;
	border-left: 1px solid rgba(212, 139, 106, .75);
	padding-left: 15px;
	color: rgba(212,139,80, .75);
}

p{
	display: inline-block;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 16px;
	color:rgba(104, 116,122, .99);
	margin: 0px;
}

h3{
	text-align: left;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	color:rgba(212,139,80, .99);
}
footer{
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	width: 1368px;
	margin:auto;
	background: black;

	
}
.pophead{
	display: block;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	text-align: center;
	font-size: 64px;
	line-height: 100px;
	color:rgba(212,139,80, .99);
	font-weight: normal;
	height:100px;
	width: 1368px;
	margin:auto;
	border-top: 1px solid rgba(212, 139, 106, .75);
	background-color: white;

}

.photos{
	display:flex;
	height: 300px;
	width:100%;
	background: white;

}

.pic{
	height: 300px;
	background-repeat: no-repeat;
	text-align: left;
	font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
	font-size: 26px;
	color: white;
	overflow: auto;
	width: 25%;
	padding-left: 15px;

}
.pic:first-child{
	background-image: linear-gradient(to bottom, rgba(53,28,14, .65) 0%,rgba(53,28,14, .65)100%),url("images/beans.jpg");
	padding-top: 250px;
	color:rgba(212,139,80, .75);
}

.pic:nth-child(2){
	background-image: url("images/cup.jpg");
	padding-top: 250px;

}
.pic:nth-child(3){
	background-image: linear-gradient(to bottom, rgba(53,28,14, .65) 0%,rgba(53,28,14, .65)100%),url("images/coffeetrees.jpg");
	padding-top: 220px;
	color:rgba(212,139,80, .75);
}

.pic:nth-child(4){
	background-image: linear-gradient(to bottom, rgba(53,28,14, .85) 0%,rgba(53,28,14, .85)100%),url("images/cocoa.jpeg");
	padding-top: 250px;
	color:rgba(212,139,80, .75);
}

.smallsocial{
	display: flex;
	align-content: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	background: rgb(53,28,14);
}

.smallsocial h6{
	padding-right: 300px;
	color:rgba(212,139,80, .75);
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	font-size: 14px;
	margin: 0px;
	line-height: 100px;
}

.tiy{
	display: flex;
	height: 100px;
	width: 100px;
	overflow: none;
	background-image: linear-gradient(to bottom, rgba(53,28,14, .85) 0%,rgba(53,28,14, .85)100%),url("images/the-iron-yard-logo.png");
}

.navitem{
	font-family:  Helvetica, Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: rgba(212,139,80, .75);
	border-right: 1px solid rgba(212,139,80, .75);
	margin-right: 10px;
	padding-right: 10px;
	height: 16px;
	margin-top: 40px;
}

.navitem:last-child{
	border:none;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 900px;
    left: 500px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

